<a href="https://colab.research.google.com/github/Larrypassion/Kingworker/blob/main/00_BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Science
# Engineering / Manipulation / Transformation -> Data

In [ ]:
a = 'pikachu'

In [ ]:
a = "potato"

In [ ]:
a= 1.0

In [ ]:
#Big Data
a_list = [42, 'Dirk Gently', False, -0.33333]
# INDEXED, ORDERED
# INDEX-> 0,1,1
print(a_list[0]) # first element 
# ORDERED-> not going to change
print(a_list)

42
[42, 'Dirk Gently', False, -0.33333]

In [ ]:
b_set = {'banana','banana',42,42,'hello world'}
# Unordered, Unindexed 
# NO DUPLICATES-> set can be used to remove duplicate values!!!!
print(b_set) # order should've changed, indexing not possible

print(b_set[0]) # SHOULD throw an error!

{'hello world', 42, 'banana'}

TypeError: ignored

In [ ]:
b_set = {'johnny quest', 42, 13, False}

In [ ]:
b_set

{13, 42, False, 'johnny quest'}

In [ ]:
a = [ 1 , 1 , 1, 1]
b = set(a)
b

{1}

In [ ]:
movies = {'name': ['titanic','edward scissorhands'],
          42: [False, True]}

# Keys are unique

In [ ]:
movies[42]

NameError: ignored

In [ ]:
movies['name']

NameError: ignored

In [ ]:
# libraries
import pandas
data = pandas.read_csv('https://raw.githubusercontent.com/a-forty-two/cylons/master/data.csv', header=0)

In [ ]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
data.describe()

                 id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
count  5.690000e+02   569.000000  ...               569.000000          0.0
mean   3.037183e+07    14.127292  ...                 0.083946          NaN
std    1.250206e+08     3.524049  ...                 0.018061          NaN
min    8.670000e+03     6.981000  ...                 0.055040          NaN
25%    8.692180e+05    11.700000  ...                 0.071460          NaN
50%    9.060240e+05    13.370000  ...                 0.080040          NaN
75%    8.813129e+06    15.780000  ...                 0.092080          NaN
max    9.113205e+08    28.110000  ...                 0.207500          NaN

[8 rows x 32 columns]